**Data Cleaning in Pandas**

In [1]:
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv(r'C:\Users\Hp\Desktop\3) Sentiment dataset.csv')

In [3]:
print(df)

     Unnamed: 0.1  Unnamed: 0  \
0               0           0
1               1           1
2               2           2
3               3           3
4               4           4
..            ...         ...
727           728         732
728           729         733
729           730         734
730           731         735
731           732         736

                                                  Text    Sentiment  \
0     Enjoying a beautiful day at the park!        ...   Positive
1     Traffic was terrible this morning.           ...   Negative
2     Just finished an amazing workout! ðŸ’ª          ...   Positive
3     Excited about the upcoming weekend getaway!  ...   Positive
4     Trying out a new recipe for dinner tonight.  ...   Neutral
..                                                 ...          ...
727  Collaborating on a science project that receiv...       Happy
728  Attending a surprise birthday party organized ...       Happy
729  Successfully fundraising for a school charity ...       Happy
730  Participating in a multicultural festival, cel...       Happy
731  Organizing a virtual talent show during challe...       Happy

               Timestamp                                   User     Platform  \
0    2023-01-15 12:30:00                          User123          Twitter
1    2023-01-15 08:45:00                          CommuterX        Twitter
2    2023-01-15 15:45:00                          FitnessFan      Instagram
3    2023-01-15 18:20:00                          AdventureX       Facebook
4    2023-01-15 19:55:00                          ChefCook        Instagram
..                   ...                                    ...          ...
727  2017-08-18 18:20:00       ScienceProjectSuccessHighSchool     Facebook
728  2018-06-22 14:15:00            BirthdayPartyJoyHighSchool    Instagram
729  2019-04-05 17:30:00   CharityFundraisingTriumphHighSchool      Twitter
730  2020-02-29 20:45:00    MulticulturalFestivalJoyHighSchool     Facebook
731  2020-11-15 15:15:00    VirtualTalentShowSuccessHighSchool    Instagram

                                          Hashtags  Retweets  Likes  \
0        #Nature #Park                                  15.0   30.0
1        #Traffic #Morning                               5.0   10.0
2        #Fitness #Workout                              20.0   40.0
3        #Travel #Adventure                              8.0   15.0
4        #Cooking #Food                                 12.0   25.0
..                                             ...       ...    ...
727         #ScienceFairWinner #HighSchoolScience       20.0   39.0
728    #SurpriseCelebration #HighSchoolFriendship       25.0   48.0
729      #CommunityGiving #HighSchoolPhilanthropy       22.0   42.0
730         #CulturalCelebration #HighSchoolUnity       21.0   43.0
731   #VirtualEntertainment #HighSchoolPositivity       24.0   47.0

          Country  Year  Month  Day  Hour
0       USA        2023      1   15    12
1       Canada     2023      1   15     8
2     USA          2023      1   15    15
3       UK         2023      1   15    18
4      Australia   2023      1   15    19
..            ...   ...    ...  ...   ...
727            UK  2017      8   18    18
728           USA  2018      6   22    14
729        Canada  2019      4    5    17
730            UK  2020      2   29    20
731           USA  2020     11   15    15

[732 rows x 15 columns]

In [4]:
# Check for nulls
df.isnull().sum()

Unnamed: 0.1    0
Unnamed: 0      0
Text            0
Sentiment       0
Timestamp       0
User            0
Platform        0
Hashtags        0
Retweets        0
Likes           0
Country         0
Year            0
Month           0
Day             0
Hour            0
dtype: int64

In [5]:
# Drop rows with nulls
df.dropna(inplace=True)

In [6]:
# Find duplicates
df.duplicated().sum()

np.int64(0)

In [7]:
#Remove duplicates
df = df.drop_duplicates()

In [8]:
# Cleaning String Data (Whitespace & Case)
df['Sentiment'] = df['Sentiment'].str.strip()

In [9]:
# Change to lowercase
df['Text'] = df['Text'].str.lower()

In [10]:
# Dropping Unnecessary Columns
df = df.drop(columns=['Unnamed: 0'])

In [11]:
# Convert Timestamp to Datetime 
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

# Now you can extract info:
df['Hour'] = df['Timestamp'].dt.hour

In [12]:
# Show results
print("Cleaning Complete!")
print(df.info())
df.head()

Cleaning Complete!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  732 non-null    int64
 1   Text          732 non-null    object
 2   Sentiment     732 non-null    object
 3   Timestamp     732 non-null    datetime64[ns]
 4   User          732 non-null    object
 5   Platform      732 non-null    object
 6   Hashtags      732 non-null    object
 7   Retweets      732 non-null    float64
 8   Likes         732 non-null    float64
 9   Country       732 non-null    object
 10  Year          732 non-null    int64
 11  Month         732 non-null    int64
 12  Day           732 non-null    int64
 13  Hour          732 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(4), object(6)
memory usage: 77.3+ KB
None

,Unnamed: 0.1,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [13]:
# Save your cleaned DataFrame to a new CSV file
df.to_csv('cleaned_sentiment_data.csv', index=False)

In [14]:
current_loc = 'cleaned_sentiment_data.csv'
desktop_loc = r'C:\Users\Hp\Desktop\cleaned_sentiment_data.csv'